/Builds
/JuceLibraryCode
/BinaryData/Assets/Fonts
*.DS_Store
/Installers/InnoSetup/vc_redist.x64.exe
/Installers/InnoSetup/Install*
/Installers/InnoSetup/archive*
/Installers/Packages/build*
.vscode
/Releases
/Scripts
